
.wrapper{
    height: 9rem;
    width: 60rem;
    background: white;
    position: absolute;
    left: 18rem;
    top: 8rem;
    box-shadow: 0 0px 15px rgba(220, 154, 154, 0.855); 
}


.typeInput{
    width: 50rem;
    position: absolute;
    bottom: 5rem;
    right: 4rem;
    border-color: #c3c3c3;
    padding: 20px;
}

.jobSkill{
    background-color: transparent;
    color: #c3c3c3;
    border-color: #c3c3c3;
    border-radius: .3rem;
    height: 1.9rem;
    width: 8rem;
    margin-left: 4.3rem;
}

.selectedSkills {
    display: flex;
    flex-wrap: nowrap; 
  }

.frontend{
    background: rgba(244, 204, 204, 0.91);
    height: 1.9rem;
    color: black;
    position: relative;
    display: flex;
  align-items: center;
  margin-right: 5px; 
    bottom: 2rem;
    left: 14rem;
    padding: 1px 15px;
    margin-right: 8px;
    white-space: nowrap;

    
}
.frontend span:first-child {
    padding: 5px; 
  }

  .frontend span:last-child {
    padding: .7px; 
  }
  
.search{
    position: relative;
    left: 3.6rem;
    top: 1.7rem;
    width: 1rem;
}
.cross{
    position: relative;
    left: 1rem;
    top: .2rem;
    color: black;
    cursor: pointer;
    height: 1.9rem;
    background-color: #e75858ec;
}
.clearr{
    position: absolute;
    bottom: 1.4rem;
    color: #e75858ec;
    font-weight: 500;
    left: 53rem;
}

.addJob {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 8.069px;
    background: #ed5353;
    color: #fff;
    font-family: Roboto;
    font-size: 22.414px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 48rem;
    bottom: 1rem;
  }
